<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../Assets/images/reduccionlogo.ico" type="image/x-icon">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/1b3f1ce9c6.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../Assets/css/style.css">
    <title>Amazing Events</title>
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-lg">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">
                    <img src="../Assets/images/Logo.png" alt="logo" width="150" height="24" class="img-fluid">
                </a>
                <button class="navbar-toggler boton" type="button" data-bs-toggle="collapse"
                    data-bs-target="#botonesdebarra" aria-controls="botonesdebarra" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse menu1" id="botonesdebarra">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link btn m-2 text-nowrap" aria-current="page" href="../index.html">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link btn m-2 text-nowrap" href="../pages/upcomingEvents.html">Upcoming
                                Events</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link btn m-2 text-nowrap" href="../pages/pastEvents.html">Past Events</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active btn m-2 text-nowrap" href="#">Contact</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link btn m-2 text-nowrap" href="../pages/stats.html">Stats</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <div class="container-fluid nav2 colorslider">
            <div><a href="../pages/pastEvents.html" class="previous round"><i
                        class="fa-sharp fa-solid fa-less-than"></i></a>
            </div>
            <h2>CONTACT</h2>
            <div><a href="../pages/stats.html" class="next round"><i class="fa-sharp fa-solid fa-greater-than"></i></a>
            </div>
        </div>
    </header>
    <main>
        <div id="appIndex">
            <div class="container">
                <div class="d-flex row justify-content-center h-100 p-5">
                    <div class="mb-2">
                        <label class="form-label">Name</label>
                        <!-- v-model para escuchar la vble nombre -->
                        <input v-model="nombre" width="250" type="text" class="form-control" placeholder="Example"
                            required>
                    </div>
                    <div class="mb-2">
                        <label class="form-label">Email</label>
                        <!-- v-model para escuchar la vble email -->
                        <input v-model="email" type="email" class="form-control" placeholder="name@example.com">
                    </div>
                    <div class="mb-2">
                        <label class="form-label">Message</label>
                        <!-- v-model para escuchar la vble email -->
                        <textarea v-model="mensaje" class="form-control" rows="3"
                            placeholder="Write here your message"></textarea>
                    </div>
                    <div>
                        <button class="btn btn-primary" id="send-btn" @click="enviar">Send</button>
                        <button class="btn btn-secondary" id="clean-btn" @click="limpiar">Clean</button>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <footer>
        <div>
            <nav class="navbar degradadofooter p-3 m-3 navbar-fixed-bottom">
                <div>
                    <a class="navbar-brand" href="https://www.instagram.com">
                        <i class="fa-brands fa-instagram fa-2x"></i>
                    </a>
                    <a class="navbar-brand" href="https://www.facebook.com">
                        <i class="fa-brands fa-facebook fa-2x"></i>
                    </a>
                    <a class="navbar-brand" href="https://wa.link/pdpf4b">
                        <i class="fa-brands fa-whatsapp fa-2x"></i>
                    </a>
                </div>
                <div>
                    <h2>Cohort</h2>
                </div>
            </nav>
        </div>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
        crossorigin="anonymous"></script>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script type="module" src="../Assets/scripts/vueIndex.js"></script>
</body>

</html>